__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.git
.gitignore
.vscode
.idea
node_modules/
npm-debug.log
logs/
*.log
_backup/
_build/
_deploy_stage/
_legacy/
_legacy_archive/
_legacy_content/
_site/
dist/
tmp/
.pagesignore
.wrangler
.wranglerignore
