@import "tailwindcss";

@theme {
  --font-sans: "Inter", "Outfit", system-ui, sans-serif;
  
  --color-gold: #D4AF37;
  --color-sovereign: #A7B69A;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  background-color: #050505;
  color: #F5F1E8;
}
